<section class="all">
  <app-side-nav [linkLists]="linkList"></app-side-nav>
  <section class="main-content">
    <div class="content">
      <app-text-block [aboutMeInfo]="about me"></app-text-block>
<!--      <app-experience [experience]="experience"></app-experience>-->
<!--      <app-feedbacks [feedback]="feedback"></app-feedbacks>-->
<!--      <app-contacts [contact]="contact"></app-contacts>-->
<!--      <app-skills [skill]="skill"></app-skills>-->
<!--      <button (click)="openDialog()" class="test__button">Dialogue window</button>-->
<!--      <app-admin-auth></app-admin-auth>-->
    </div>
  </section>
</section>
